
#preloader {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
    opacity:0.80;
}

.loader {
    animation: 1.4s linear 0s normal none infinite running load3;
    border-radius: 50%;
    font-size: 10px;
    height: 11em;
    left: 45%;
    position: relative;
    text-indent: -9999em;
    top: 300px;
    transform: translateZ(0px);
    width: 11em;
}

.loader::before {
    border-radius: 100% 0 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.loader::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 75%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
}


.loader {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00d999 10%, rgba(255, 255, 255, 0) 42%) repeat scroll 0 0;
}
.loader::before {
    background: #00d999 none repeat scroll 0 0;
}


@keyframes load3 {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

