@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}



/* POP ADD DOCUMENT STYLE  */



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    opacity: 1 !important;
}

.popHeadingForm
{
	border-bottom: 1px solid #cecece !important;
    color: #00b6f5 !important;
    font-size: 22px !important;
    font-style: normal !important;
    margin: 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* END OF  POP ADD DOCUMENT STYLE  */
 
.profileEditButton
{	
	background-color: #00b6f5;
    border-radius: 5px;
    color: #fff ! important;
    float: left;
    font-family: fantasy;
    font-size: 14px;
    height: auto;
    /* padding: 2px; */
    text-align: center;
    width: auto;
    cursor:pointer;
} 

.profileEditButton:hover {
	
	background-color: #fff;
    border-radius: 5px;
    color: #00b6f5 ! important;
    float: left;
    font-family: fantasy;
    font-size: 14px;
    height: auto;
    /* padding: 2px; */
    text-align: center;
    width: auto;
    cursor:pointer;
    
    border:1px solid #00b6f5;
}




.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
   border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
    padding: 0 0 43px;
    text-align: center;
}
.all-icons .font-icon-detail input{
   display: block;
    font-size: 13px;
    margin: 5px auto;
    text-align: center;
    width: 100%;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
